.d-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex-column {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: end;
}
.align-content-baseline{
  align-content: baseline;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-end {
  justify-content: end;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-j-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-column-a-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.flex-1 {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.flex-2 {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
.flex-3 {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}
.flex-4 {
  -webkit-box-flex: 4;
  -moz-box-flex: 4;
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
}
.flex-5 {
  -webkit-box-flex: 5;
  -moz-box-flex: 5;
  -webkit-flex: 5;
  -ms-flex: 5;
  flex: 5;
}
.flex-6 {
  -webkit-box-flex: 6;
  -moz-box-flex: 6;
  -webkit-flex: 6;
  -ms-flex: 6;
  flex: 6;
}
.flex-8 {
  -webkit-box-flex: 8;
  -moz-box-flex: 8;
  -webkit-flex: 8;
  -ms-flex: 8;
  flex: 8;
}
.flex-grow-0{
  flex-grow: 0;
}
.flex-wrap{
  flex-wrap:wrap;
}