// CSS3 var
@use "./var" as *;
@use "element-plus/theme-chalk/src/mixins/_var.scss" as *;
@use "element-plus/theme-chalk/src//mixins/mixins.scss" as *;
@use "../utils.scss" as *;

// black
@mixin black($block) {
  html.black {
    @include b($block) {
      @content;
    }
  }
}
html.black {
  color: getCssVar("text-color-primary");
  background: getCssVar("bg-color");
  @include set-theme-vars($colors, $componentVarMap, $globalVarMap);
}
@each $component, $val in $componentMap {
  @include black($component) {
    @include set-component-css-var(str-replace($component, "-", ""), $val);
  }
}
