@use "sass:map";
@use 'sass:string';
@use "element-plus/theme-chalk/src//mixins/mixins.scss" as *;

@function str-replace($string, $search, $replace: "") {
  $index: string.index($string, $search);
  @if $index {
    @return string.slice($string, 1, $index - 1) + $replace + str-replace(string.slice($string, $index + string.length($search)), $search, $replace);
  }
  @return $string;
}

@mixin set-css-color-type($colors, $type) {
  @include set-css-var-value(("color", $type), map.get($colors, $type, "base"));

  @for $i from 1 through 9 {
    @include set-css-var-value(("color", $type, "light", $i), map.get($colors, $type, "light-#{$i}"));
  }

  @include set-css-var-value(("color", $type, "dark-2"), map.get($colors, $type, "dark-2"));
}

@mixin set-theme-vars($colors, $componentVarMap, $globalVarMap) {
  @each $type in (primary, success, warning, danger, error, info) {
    @include set-css-color-type($colors, $type);
  }
  @each $key, $val in $componentVarMap {
    @include set-component-css-var($key, $val);
  }
  @each $key, $val in $globalVarMap {
    @include set-css-var-value($key, $val);
  }
}
