@use "../common/size.scss" as *;

.zc-template-container {
    width: 100%;
    height: 100%;
    position: relative;

    .zc-template-tem-con {
        width: calc(100% + zrem(8));
        height: calc(100% + zrem(8));
        position: absolute;
        left: zrem(-4);
        top: zrem(-4);
        z-index: 2;
    }

    .zc-template-large-tem-con {
        width: calc(100% + zrem(20));
        height: calc(100% + zrem(20));
        position: absolute;
        left: zrem(-10);
        top: zrem(-10);
        z-index: 2;
    }

    .zc-template-back-con {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}

.zc-template-large-con {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;

    .zc-template-large-box {
        width: calc(100% - zrem(20));
        height: calc(100% - zrem(20));
        max-width: calc(100% - zrem(20));
        max-height: calc(100% - zrem(20));
        margin: zrem(10);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        // border-radius: zrem(8);
        border: 1px solid var(--el-border-color);
        overflow: hidden;
        color: var(--el-primary-color);

        .zc-template-large-box-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: zrem(24);
            min-height: zrem(24);
            margin-bottom: zrem(6);
            // border-bottom: 1px solid var(--el-border-color);
            background: linear-gradient(180deg, var(--el-fill-color) 0%, rgba(var(--el-fill-color-rgb), 0) 100%);

            .zc-template-box-title-icon-con {
                display: flex;
                align-items: center;

                .zc-template-box-title-icon-line {
                    width: zrem(3);
                    height: zrem(13);
                    background: linear-gradient(90deg, #81D3BB 0%, #5DC6A7 43%, #0271E3 100%);
                    margin-left: zrem(7);
                }

                .zc-template-box-title-icon {
                    width: zrem(20);
                    height: zrem(20);
                    margin-left: zrem(8);

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .zc-template-box-title-word {
                    font-size: zrem(14);
                    margin-left: zrem(8);
                    font-family: PangMenZhengDao;
                    font-size: zrem(16);
                    color: var(--el-menu-text-color);
                    // line-height: 18px;
                    // text-shadow: 2px 0px 0px #000000;
                    text-align: left;
                    font-style: normal;
                }

                .zc-template-box-title-target {
                    width: zrem(20);
                    height: zrem(20);
                    margin-left: zrem(10);
                    font-size: 0;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        .zc-template-box-content {
            width: 100%;
            flex: 1;
            height: 100%;
        }

        .zc-template-large-header-content {
            height: calc(100% - zrem(30));
        }
    }

    .zc-template-large-box-back {
        background: var(--el-fill-color);
    }

    .zc-template-box-content {
        width: 100%;
        flex: 1;
        height: 100%;
    }

    .zc-template-large-box-content {
        width: 100%;
        height: 100%;
        flex: 1;
    }

    .zc-template-large-box-content-back {
        background: rgba(var(--el-fill-color-rgb), 0.7);
    }

    .zc-template-large-box-ellipse {
        background: radial-gradient(ellipse at center, rgba(var(--el-fill-color-large-rgb-1)) 0%, rgba(var(--el-fill-color-large-rgb-2)) 48%, rgba(var(--el-fill-color-large-rgb-3)) 100%);
    }

    .zc-template-large-box-circle {
        background: radial-gradient(circle at center, rgba(var(--el-fill-color-large-rgb-1)) 0%, rgba(var(--el-fill-color-large-rgb-2)) 48%, rgba(var(--el-fill-color-large-rgb-3)) 100%);
    }

    .zc-template-large-box-g-top {
        background: linear-gradient(0deg, rgba(var(--el-fill-color-large-rgb-1)) 0%, rgba(var(--el-fill-color-large-rgb-2)) 48%, rgba(var(--el-fill-color-large-rgb-3)) 100%);
    }

    .zc-template-large-box-g-right {
        background: linear-gradient(90deg, rgba(var(--el-fill-color-large-rgb-1)) 0%, rgba(var(--el-fill-color-large-rgb-2)) 48%, rgba(var(--el-fill-color-large-rgb-3)) 100%);
    }

    .zc-template-large-box-g-bottom {
        background: linear-gradient(180deg, rgba(var(--el-fill-color-large-rgb-1)) 0%, rgba(var(--el-fill-color-large-rgb-2)) 48%, rgba(var(--el-fill-color-large-rgb-3)) 100%);
    }

    .zc-template-large-box-g-left {
        background: linear-gradient(270deg, rgba(var(--el-fill-color-large-rgb-1)) 0%, rgba(var(--el-fill-color-large-rgb-2)) 48%, rgba(var(--el-fill-color-large-rgb-3)) 100%);
    }

    .zc-template-header-content {
        height: calc(100% - zrem(40));
    }

    .zc-template-large-box-g-none {
        background: none !important;
    }
}

.zc-template-absolute {
    position: absolute;
}

.zc-template-p-con {
    position: relative;

    // margin-right: zrem(12);
    // margin-bottom: zrem(12);
    &:last-child {
        margin: 0;
    }
}

.zc-template-p-box {
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    // background: var(--el-fill-color-blank);
    border-radius: zrem(8);
    border: 1px solid var(--el-border-color);
    display: flex;
    flex-direction: column;
    color: var(--el-primary-color);

    .zc-template-p-title {
        display: flex;
        align-items: center;
        height: zrem(40);
        min-height: zrem(40);
        border-bottom: 1px solid var(--el-border-color);
        width: 100%;

        .zc-template-p-title-icon {
            width: zrem(28);
            height: zrem(28);
            margin-left: zrem(8);

            img {
                width: 100%;
                height: 100%;
            }
        }

        .zc-template-p-title-word {
            font-size: zrem(14);
            margin-left: zrem(8);
        }

        .zc-template-p-title-target {
            width: zrem(20);
            height: zrem(20);
            margin-left: zrem(10);
            font-size: 0;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .zc-template-p-content {
        // display: flex;
        // align-items: center;
        // justify-content: center;
        width: 100%;
        flex: 1;
        height: 100%;
    }

    .zc-template-p-header-content {
        height: calc(100% - zrem(40));
    }
}

.zc-template-p-box-back {
    background: var(--el-fill-color);
}

.zc-tabs {
    .el-tabs__header {
        margin: 0px;
    }
}

.zc-select {
    .el-tag {
        background-color: var(--el-bg-color);
        color: var(--el-text-color) !important;

        .el-tag__close {
            background-color: var(--el-text-color-mix-7);
            color: var(--el-text-color-primar) !important;
        }
    }
}

.zc-template-header-right-style-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: zrem(100);
    height: zrem(8);
    margin-right: zrem(6);

    .zc-template-header-right-style-1-item {
        width: zrem(2);
        height: zrem(8);
        background: #FFF;
    }
}

.zc-template-header-right-style-1-1 {
    width: zrem(2);
    height: zrem(13);
    background: #FFF;
    margin-right: zrem(20);
}